* {
  margin: 0;
  padding: 0;
}

/* ---------Same Styles--------- */
body {
  font-family: Inter;
}

.btn {
  background-color: #30b868;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  height: 44px;
}

/* ------------Navbar----------- */
header #navbar {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}

#navbar .logo {
  margin: 16px 0 16px 120px;
}


#navbar .menu {
  margin: 34px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}

#navbar .menu ul li {
  list-style: none;
  display: inline;
  margin-right: 32px;
}

#navbar .menu ul li a {
  text-decoration: none;
  color: #000000;
}

.erly-access-btn {
  margin: 24px 120px 24px 0;
}
